<ul class="list-group panel">
    <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
    <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>
    <li class="list-group-item"><a href="./case_list.php"><i class="fas fa-list"></i>案件一覧 </a></li>
    <li class="list-group-item"><a href="./stocking_list.php"><i class="fas fa-list"></i>仕入れ・出荷 </a></li>
    <li class="list-group-item"><a href="./sales.php"><i class="fas fa-list"></i>売上</a></li>
    <li class="list-group-item"><a href="./demand.php"><i class="fas fa-list"></i>請求 </a></li>
    <li class="list-group-item"><a href="./collect.php"><i class="fas fa-list"></i>回収 </a></li>
    <li class="list-group-item"><a href="./deposit_list.php"><i class="fas fa-list"></i>入金 </a></li>
</ul>